html,
body {
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  -webkit-text-size-adjust: none;
  min-width: 200px;
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
}

li a {
  color: #42b983;
  font-weight: 600;
}

/* markdown content found on pages */
h1,
h2,
h3,
h4 {
  margin: 1.2em 0 0.8rem;
  padding-bottom: 0.7em;
  font-weight: 600;
  color: #42b983;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
strong {
  font-weight: 600;
  color: #e96900;
}
a {
  color: #42b983;
  font-weight: 600;
}
p,
ul,
ol {
  word-spacing: 0.05em;
}
em {
  color: #7f8c8d;
}

pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}

code, pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  background-color: #f8f8f8;
}
code span.css,
code span.javascript,
code span.html,
span[class^="hljs-"] {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
pre>code {
  font-size: 0.8em;
  display: block;
}
code:after, code:before {
  content: none;
  letter-spacing: 0.05em;
}

code, pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}

code .token {
  min-height: 1.5em;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
pre code { position: relative; }
pre code.lang-html:after,
pre code.lang-js:after,
pre code.lang-bash:after,
pre code.lang-css:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
pre code.lang-html:after {
  content: 'HTML';
}
pre code.lang-js:after {
  content: 'JS';
}
pre code.lang-bash:after {
  content: 'Shell';
}
pre code.lang-css:after {
  content: 'CSS';
}
.content img {
  max-width: 100%;
}
.content span.light {
  color: #7f8c8d;
}
.content span.info {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
}
figure,
p,
ul,
ol {
  margin: 1.2em 0;
}
p,
ul,
ol {
  line-height: 1.6em;
}
ul,
ol {
  padding-left: 1.5em;
}
a {
  color: #42b983;
  font-weight: 600;
}
blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #42b983;
}
blockquote p {
  font-weight: 600;
  margin-left: 0;
  color: #333;
}
iframe {
  margin: 1em 0;
}

/* these aren't in gitbook at the moment, but leaving them in for future reference */
img {
  border: none;
}
.highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f8f8f8;
  padding: 0.8em 0.8em 0.4em;
  line-height: 1.1em;
  border-radius: 2px;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
